:root {
    --primary-color: #FBFCF7;
    --secondary-color: #32474C;
    --tertiary-color: #B5582C;
    --primary-subcolor: #70858A;
    --secondary-subcolor: #DA9777;
    --font-family: 'Montserrat', sans-serif;
    --font-color: #32474C;
    --secondary-font-color: #F2E4E4;
}

html {
  font-size: 20px;
  margin: 0;
}

@media (max-width: 550px)
{
    html{
        font-size: 16px;
    }
}

body {
    font-family: var(--font-family);
    width: 100vw;
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--primary-color);
}

.full-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid{
    height: 100vh;
}

.login-bg-image {
    background-image: url('/images/BookshelfWithLadder.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn-primary:active {
    background-color: var(--tertiary-color);
    color: white;
    border-color: var(--tertiary-color);
    box-shadow: 0 0 10px var(--secondary-subcolor), 0 0 20px var(--secondary-subcolor);
}

.btn-primary:active:focus {
    box-shadow: 0 0 10px var(--secondary-subcolor), 0 0 20px var(--secondary-subcolor);
}

.btn-primary:focus{
    color: white;
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    box-shadow: 0 0 10px var(--secondary-subcolor), 0 0 20px var(--secondary-subcolor);
}

.btn-primary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--secondary-subcolor);
    border-color: var(--secondary-subcolor);
}

.btn-secondary:active {
    background-color: var(--secondary-color);
    color: white;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--primary-subcolor), 0 0 20px var(--primary-subcolor);
}

.btn-secondary:active:focus {
    box-shadow: 0 0 10px var(--primary-subcolor), 0 0 20px var(--primary-subcolor);
}

.btn-secondary:focus {
    color: white;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--primary-subcolor), 0 0 20px var(--primary-subcolor);
}

btn-secondary:active:focus {
    box-shadow: none;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-secondary:hover {
    background-color: var(--primary-subcolor);
    border-color: var(--primary-subcolor);
}

a{
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

a:hover{
    color: var(--primary-subcolor);
}

.form-control{
    color: var(--font-color);
}

.form-control:focus{
    border-color: var(--primary-subcolor);
    box-shadow: 0 0 10px var(--primary-subcolor), 0 0 20px var(--primary-subcolor);
}


.register-fluid-container{
    background-image: url(/images/ALotOfBooks.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
}

.register-wrapper {
    background-color: var(--primary-color);
    height: 80vh;
    min-height: 600px;
    max-height: 90vh;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px var(--primary-subcolor), 0 0 20px var(--primary-subcolor);
}

@media (max-height: 601px)
{
    .register-wrapper{
        min-height: 400px;
    }
}

.form-check-input{
    border-color: var(--secodary-color);
}

.form-check-input:checked{
    background-color: var(--secondary-color);
    border-color: var(--primary-subcolor);
}

.form-check-input:checked:focus {
    box-shadow: none;
    border-color: var(--secodary-color);
}

.form-check-input:focus {
    box-shadow: none;
    border-color: var(--secodary-color);
}

