:root {
    --primary-color: #FBFCF7;
    --secondary-color: #32474C;
    --tertiary-color: #B5582C;
    --primary-subcolor: #70858A;
    --secondary-subcolor: #DA9777;
    --font-family: 'Montserrat', sans-serif;
    --font-color: #32474C;
    --secondary-font-color: #F2E4E4;
}

html {
  font-size: 20px;
}

body {
    font-family: var(--font-family);
    width: 100vw;
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--primary-color);
}

.full-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.btn-primary:active {
    background-color: var(--tertiary-color);
    color: white;
    border-color: var(--tertiary-color);
    box-shadow: 0 0 10px var(--secondary-subcolor), 0 0 20px var(--secondary-subcolor);
}

.btn-primary:active:focus {
    box-shadow: 0 0 10px var(--secondary-subcolor), 0 0 20px var(--secondary-subcolor);
}

.btn-primary:focus{
    color: white;
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    box-shadow: 0 0 10px var(--secondary-subcolor), 0 0 20px var(--secondary-subcolor);
}

btn-primary:active:focus{
    box-shadow: none;
}

.btn-primary {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
    color: white;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: var(--secondary-subcolor);
    border-color: var(--secondary-subcolor);
}
