
@{
    ViewData["Title"] = "LogIn Page";
}

<div class="container-fluid">
    <div class="row h-100">
        <div class="col-lg-6 d-flex align-items-center justify-content-center">
            <form class="w-75">
                <h2 class="mb-4">WELCOME BACK</h2>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter your password">
                </div>
                <a href="/Auth/ResetPassword">Forgot your password?</a>
                <button type="submit" class="btn btn-secondary w-100 my-2">Log In</button>
                <p>Don't have an account? <a href="/Auth/Register">Sign Up</a></p>
            </form>
        </div>

        <div class="col-lg-6 login-bg-image d-none d-lg-block"></div>
    </div>
</div>