@model LibraryManagementSystem.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container-fluid resetpass-fluid-container d-flex justify-content-center align-items-center">
    <div class="container register-wrapper d-flex flex-column align-items-center justify-content-center">
        <h1 class="display-5 fw-bold text-center mb-4">Reset Password</h1>

        <div class="col-12 col-lg-10 mx-auto">
            <form asp-controller="Auth" asp-action="ResetPassword" method="post" class="w-lg-75 container">

                <div class="row mb-lg-3 d-flex justify-content-center">
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-center">
                        <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
                        <span asp-validation-for="Email" class="text-danger d-block text-center w-100"></span>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
                        <button type="submit" class="btn btn-secondary w-100 my-2">Send new password</button>
                    </div>
                </div>

                <div class="row mb-lg-3 d-flex justify-content-center">
                    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center">
                        <a asp-controller="Auth" asp-action="LogIn" class="w-100 text-center fs-6">
                            Back to Login
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
